@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
:root{
    --orangeColor:#ED961A;

   --whiteColor: #FFFFFF;
   --blackColor:#1D1D1D;
   --app-bg: #142850;
   --sidebar: #dddddd;
   --sidebar-main-color: #fff;
   --sidebar-link: #fff;
   --sidebar-active-link: #;
   --sidebar-hover-link: #27496D;
   --action-color: #0C7B93;
   --action-color-hover: #00A8CC;
   --app-content-secondary-color: #142850;
   --filter-reset: #2c394f;
   --filter-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
* {
    transition: background-color 300ms ease, color 300ms ease;
}
*:focus {
    background-color: rgba(221, 72, 20, .2);
    outline: none;
}
html, body {
    color: var(--whiteColor);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
h1{
    text-align: center;
}
svg #logo{
    color: var(--action-color);
}
nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: right;
}
nav li {
    display: inline-block;
}
nav li a {
    display: block;
    height: 44px;
    text-decoration: none;
}
nav li.menu-item a {
    border-radius: 5px;
    margin: 5px 0;
    height: 38px;
    line-height: 36px;
    padding: .4rem .65rem;
    text-align: center;
}
nav li.menu-item a:hover,
nav li.menu-item a:focus {
    color: #FFFFFF;
    background-color: #3E97FF;
}
#avatar{
    height: 100px;
    width: 100px;
    border-radius: 60%;
    border: 1px solid var(--sidebar);
}



section {
    margin: 0 auto;
    max-width: 1100px;
    padding: 2.5rem 1.75rem 3.5rem 1.75rem;
}
/*side nav*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidebar-main-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    margin-top: 1.5em;
    padding: 8px, 8px, 12px, 8px;
    text-decoration: none;
    font-size: 16px;
    color: var(--action-color);
    display: block;
    transition: 0.3s;
    font-weight: bold;
    
  }
  
  .sidenav a .nav-link :hover {
    color: var(--sidebar-hover-link);
    background-color: var(--action-color-hover);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #menu-icon{
    margin: 2px;
  }
  #fund-card{
    border-bottom: 3px solid var(--action-color);
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

footer {
    background-color: var(--action-color);
    text-align: center;
}
footer .copyrights {
    background-color: var(--action-color);
    color: #FFFFFF;
    padding: .25rem 1.75rem;
}
footer .copyrights a{
    color: #FFFFFF;
}
@media (max-width: 629px) {
    header ul {
        padding: 0;
    }
    header .menu-toggle {
        padding: 0 1rem;
    }
    header .menu-item {
        background-color: rgba(244, 245, 246, 1);
        border-top: 1px solid rgba(242, 242, 242, 1);
        margin: 0 15px;
        width: calc(100% - 30px);
    }
    header .menu-toggle {
        display: block;
    }
    header .hidden {
        display: none;
    }
    header li.menu-item a {
        background-color: rgba(221, 72, 20, .1);
    }
    header li.menu-item a:hover,
    header li.menu-item a:focus {
        background-color: #3E97FF;
        color: #FFFFFF;
    }
}